/* 
    Document   : design
    Created on : 12/11/2013, 21:51:07
    Author     : עידן
    Description:
        Purpose of the stylesheet follows.
*/

p{
    text-align: center;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: white;
    line-height: 10px;
    letter-spacing: -2px;
    font-weight: bold;
    background-color: gray;
    font-size: 30px;

}
#mainPageHeader,#resultPageHeader,#aboutPageHeader,#aboutPanel,#aboutPanelList,#listtt,#historyPageHeader
{
    background: gray;
}

#list{
    width: 350px; 
}

ul.nav-search li{
    background: gray;
}
ul#resList2 li{
    background: lightsteelblue;
    text-align: center;
    -webkit-transform:translate(120px,0);
}
#rateButton,#friendButton{
    text-align: center;
   // font-size: 25px;
    border:  50px;
    //padding-top: 20px;
}
#listcontainer2,#resList2{
    text-align: center;
}

#listcontainer2 li {
    margin: 0 0 .5em 0; 
     padding: 0;
    list-style-type: none;
}

#speechToolMain{
    width: 50%;
    text-align: center;
}
#mainSpeech{
    text-align: center;
}

.ui-li, .ui-li.ui-field-contain, .ui-li.ui-last-child, .ui-li.ui-field-{
border-top-width: 0px;
border-bottom-width: 0px;
text-align: center;
margin-top: 2px;
}

#resultSpeechTool{
    border: none;
    outline: none;
    background: transparent;
    width: 2.5%;
    height: 1%;
}
#listStartOver, #listWiki{
    text-align: center;
}
#resultPageFooter,#resultNavBar{
    text-align: center;
    font-size: 25px;
    border:  50px;
    padding-top: 20px;
    border-top-color: red;
    border-top: 5px;
}
img.mainLogo{
    height: 60%;
    width: 100%;
}

img.CLUbuttonMain{
    height: 10%;
    width: 10%;
}


ul#historyList li{
    background: lightsteelblue;
}

#popupPhotoLandscape{
    background-image: url('Neymargoldenball.jpg');
}